@using HairSalon.Models

@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Salon Stylists</h3>
  <ul>
    @foreach (Stylist stylist in Model)
    {
      <li><a href="/Stylist/@stylist.GetId()"><button class="btn btn-success" type="button" name="view-stylist">@stylist.GetName()</button></a></li>
    }
    <a href="/stylist/add"><button class="btn btn-info" type="button" name="add-stylist">Add Stylist</button></a>
  </ul>
</div>
