@using HairSalon.Models

@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Salon Stylists</h3>

  @foreach (Stylist stylist in Model)
  {
    <a href="/Stylist/@stylist.GetId()"><button class="btn btn-info name" type="button" name="view-stylist">@stylist.GetName()</button></a>
  }
  <a href="/stylist/add"><button class="btn btn-success" type="button" name="add-stylist">Add Stylist</button></a>
</div>
